<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AsmodatForex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AsmodatForex.Properties.Settings>
            <setting name="AsmodatForex_com_efxnow_api_Gain_x0020_Capital_x0020___x0020_AutoEx_x0020_Trading_x0020_API" serializeAs="String">
                <value>http://api.efxnow.com/DEMOWebServices2.8/Service.asmx</value>
            </setting>
            <setting name="AsmodatForex_com_efxnow_democharting_chartingservice_ChartingService" serializeAs="String">
                <value>http://democharting.efxnow.com/Charting/ChartingService.asmx</value>
            </setting>
            <setting name="AsmodatForex_com_efxnow_demoweb_authentyficationservice_AuthenticationService" serializeAs="String">
                <value>http://demoweb.efxnow.com/gaincapitalwebservices/authenticate/authenticationservice.asmx</value>
            </setting>
            <setting name="AsmodatForex_com_efxnow_demoweb_ratesservice_RatesService" serializeAs="String">
                <value>http://demoweb.efxnow.com/gaincapitalwebservices/rates/ratesservice.asmx</value>
            </setting>
            <setting name="AsmodatForex_com_efxnow_demoweb_tradingservice_TradingService" serializeAs="String">
                <value>http://demoweb.efxnow.com/gaincapitalwebservices/trading/tradingservice.asmx</value>
            </setting>
            <setting name="AsmodatForex_com_efxnow_demoweb_configurationservice_ConfigurationService" serializeAs="String">
                <value>http://demoweb.efxnow.com/GainCapitalWebServices/Configuration/ConfigurationService.asmx</value>
            </setting>
        </AsmodatForex.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
