<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsmodatForexEngineAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <AsmodatForexEngineAPI.Properties.Settings>
            <setting name="AsmodatForexEngineAPI_com_efxnow_api_Gain_x0020_Capital_x0020___x0020_AutoEx_x0020_Trading_x0020_API"
                serializeAs="String">
                <value>http://api.efxnow.com/DEMOWebServices2.8/Service.asmx</value>
            </setting>
            <setting name="AsmodatForexEngineAPI_com_efxnow_demoweb_AuthenticationService"
                serializeAs="String">
                <value>http://demoweb.efxnow.com/gaincapitalwebservices/authenticate/authenticationservice.asmx</value>
            </setting>
            <setting name="AsmodatForexEngineAPI_com_efxnow_demoweb_ConfigurationService"
                serializeAs="String">
                <value>http://demoweb.efxnow.com/GainCapitalWebServices/Configuration/ConfigurationService.asmx</value>
            </setting>
            <setting name="AsmodatForexEngineAPI_com_efxnow_demoweb_TradingService"
                serializeAs="String">
                <value>http://demoweb.efxnow.com/gaincapitalwebservices/trading/tradingservice.asmx</value>
            </setting>
            <setting name="AsmodatForexEngineAPI_com_efxnow_democharting_ChartingService"
                serializeAs="String">
                <value>http://democharting.efxnow.com/Charting/ChartingService.asmx</value>
            </setting>
            <setting name="AsmodatForexEngineAPI_com_efxnow_demoweb_RatesService"
                serializeAs="String">
                <value>http://demoweb.efxnow.com/gaincapitalwebservices/rates/ratesservice.asmx</value>
            </setting>
        </AsmodatForexEngineAPI.Properties.Settings>
    </applicationSettings>
</configuration>